@import '~@angular/material/theming';
@import 'src/assets/themes/gaji-id-theme';
@import 'variable';

.app-color-green {
  color: mat-color($gaji-id-primary);
}

.app-color-red {
  color: mat-color($gaji-id-warn);
}

.app-text-left {
  text-align: left !important;
}

.app-text-center {
  text-align: center !important;
}

.app-text-right {
  text-align: right !important;
}

.app-pull-left {
  float: left !important;
}

.app-pull-right {
  float: right !important;
}

.app-block {
  display: block;
}

.app-hidden {
  display: none;
}

.app-link {
  cursor: pointer;
  color: blue;
}

// Input
.app-input-password {
  .app-input-password-icon {
    cursor: pointer;
  }
}

// Custom Tooltip CSS
input.app-input-tooltip-success, mat-icon.app-input-tooltip-success {
  color: mat-color($gaji-id-primary);
}

input.app-input-tooltip-warning, mat-icon.app-input-tooltip-warning {
  color: mat-color($gaji-id-accent);
}

input.app-input-tooltip-error, mat-icon.app-input-tooltip-error {
  color: mat-color($gaji-id-warn);
}

input:focus ~ .app-input-tooltip-message,
input:focus ~ .app-input-tooltip-message::after,
textarea:focus ~ .app-input-tooltip-message,
textarea:focus ~ .app-input-tooltip-message::after,
mat-select:focus ~ .app-input-tooltip-message,
mat-select:focus ~ .app-input-tooltip-message::after {
  display: block;
}

.app-input-tooltip-icon {
  cursor: pointer;
  position: absolute;
  margin-top: -13px;
  margin-left: 3px;
}

.app-input-tooltip-yearmonth-icon, .app-input-tooltip-password-icon {
  margin-top: 0px;
}

.app-input-tooltip-message {
  display: none;
  background: black;
  color: white;
  padding: 10px 12px;
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 30px;
  // position: fixed;
  position: absolute;
  z-index: 104;

  margin: 0;
  margin-top: 15px;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

.app-input-tooltip-message::after {
  display: none;

  bottom: 100%;
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: black;
  border-width: 10px;
  margin-left: -10px;
  border-top: 50px;
  border-right: 100px;
}

.app-input-tooltip-message-success {
  background: mat-color($gaji-id-primary);
  color: white;
}

.app-input-tooltip-message-success::after {
  border-bottom-color: mat-color($gaji-id-primary);
}

.app-input-tooltip-message-warning {
  background: mat-color($gaji-id-accent);
  color: white;
}

.app-input-tooltip-message-warning::after {
  border-bottom-color: mat-color($gaji-id-accent);
}

.app-input-tooltip-message-error {
  background: mat-color($gaji-id-warn);
  color: white;
}

.app-input-tooltip-message-error::after {
  border-bottom-color: mat-color($gaji-id-warn);
}

// Custom Dialog CSS
.app-dialog {
  .app-dialog-header {
    margin-left: -24px;
    margin-top: -24px;
    margin-right: -24px;
    margin-bottom: 0px;
    padding: 3px 15px;
    color: $app-dialog-header-primary-color;
    background: $app-dialog-header-primary-background-color;

    .app-dialog-header-title {
      margin: 0px;
      font-size: 15px
    }

    .app-dialog-header-close-button {
      position: absolute;
      top: -1px;
      right: 7px;
    }
  }

  .app-dialog-content {
    padding-top: 15px;
    padding-bottom: 10px;
    max-height: 65vh;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .app-dialog-content-form-error {
    padding-bottom: 26px;
  }
}

.app-dialog-accent {
  .app-dialog-header {
    color: $app-dialog-header-accent-color !important;
    background: $app-dialog-header-accent-background-color !important;
  }
}

.app-dialog-warn {
  .app-dialog-header {
    color: $app-dialog-header-warn-color !important;
    background: $app-dialog-header-warn-background-color !important;
  }
}

// Custom Mat Form Field CSS
.app-mat-form-field {
  width: 100% !important;
}

// Custom Image CSS
.app-image {
  width: 100%;
  height: 100%;
  margin: 0px;
}

// Custom Card CSS
.app-card {
  box-shadow: $app-card-box-shadow;
  transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
  display: block;
  position: relative;
  padding: 24px;
  border-radius: 2px;
  background: $app-card-background-color;
  color: $app-card-color;

  .app-card-header {
    margin-left: -24px;
    margin-top: -24px;
    margin-right: -24px;
    margin-bottom: 0px;
    padding: 7px 15px;
    color: $app-card-header-color;
    background: $app-card-header-background-color;

    .app-card-header-title {
      font-weight: normal;
      margin: 0px;
      font-size: 15px;
    }
  }

  .app-card-content {
    padding-top: 15px;
  }

  .app-card-image {
    width: 100%;
    height: 100%;
    margin: 0px;
  }
}

// Custom Group Box CSS
.app-group-box {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;

  min-height: 20px;
  padding-top: 3px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  border: $app-group-box-border;
  border-radius: 0px;
  -webkit-box-shadow: $app-group-box-shadow;
  box-shadow: $app-group-box-shadow;

  .app-group-box-legend {
    display: block;
    font-size: 14px;
    width: auto;
    padding: 2px 7px 2px 5px;
    line-height: inherit;
    color: $app-group-box-legend-color;
    background: $app-group-box-legend-background-color;
    border-radius: 0px;
  }
}

.app-xls-input {
  width: 100%;
  min-height: 300px;
  overflow-y: auto;
  background-color: #f9f9f9;

  .app-xls-input-checkbox {
    float: left;
    width: 28%;
    height: 20px;
    padding: 12px;

    mat-checkbox {
      margin: 10px;
    }
  }

  .table-no-item {
    padding: 12px;
  }
}

// Custom Div with datatable container CSS
.app-table-container {
  margin-bottom: 10px;

  .app-table-container-header {
    overflow: auto;

    .app-table-container-header-label {
      float: left;
      margin-top: 20px;
    }

    .app-table-container-header-action {
      float: right;
    }
  }

  .app-table { }
}

// Custom List CSS
.app-list {
  .app-list-item {
    font-size: inherit;
    height: auto !important;

    .app-list-item-text {
      .numbering {
        padding-top: 5px;
        float: left;
        width: 40px;
        margin-right: 5px;
      }

      .input, .text {
        width: calc(100% - 85px);
      }

      .input {
        margin-top: -10px;
        margin-bottom: -10px;
      }

      .text {
        padding-top: 5px;
      }
    }

    .action {
      margin-top: -5px;
      height: 30px;
      width: 30px;
      line-height: 30px;

      &.delete:hover {
        color: mat-color($gaji-id-warn);
      }
    }
  }
}

// Custom Expansion panel CSS
.app-expansion-panel {
  margin-bottom: 5px !important;

  .mat-expansion-indicator::after {
    padding: 5px !important;
    margin-top: -10px !important;
  }

  &.app-expansion-panel-primary {
    .mat-expansion-panel-header, .mat-expansion-indicator::after, .mat-expansion-panel-header:hover {
      color: $app-expansion-panel-color-primary !important;
      background-color: $app-expansion-panel-background-color-primary !important;
    }
  }

  &.app-expansion-panel-accent {
    .mat-expansion-panel-header, .mat-expansion-indicator::after, .mat-expansion-panel-header:hover {
      color: $app-expansion-panel-color-accent !important;
      background-color: $app-expansion-panel-background-color-accent !important;
    }
  }

  &.app-expansion-panel-warn {
    .mat-expansion-panel-header, .mat-expansion-indicator::after, .mat-expansion-panel-header:hover {
      color: $app-expansion-panel-color-warn !important;
      background-color: $app-expansion-panel-background-color-warn !important;
    }
  }

  .mat-expansion-panel-body {
    padding-top: 10px;
  }
}

// Custom Button CSS
.app-button {
  width: 100%;
}

.app-flat-button {
  border-radius: 0px !important;
}

// delete it later, when not used anymore
.app-master-input-container {
  &.input-form {
    display: flex;
    flex-direction: column;

    form > div > * {
      width: 100%;
    }

    form > div > mat-form-field {
      padding-bottom: .35rem;
    }
  }
}

.app-master-browse-container {
  position: relative;

  .loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.app-master-browse-filter {
  mat-expansion-panel-header {
    height: 35px !important;
  }

  .filter-hint {
    font-size: 13px
  }
}

.app-master-browse-action, .app-master-input-action {
  margin-top: 10px;
}

.setting-container {
  margin-bottom: 25px;
  background-color: #f5f5f5;
  padding: 0;

  .mat-headline {
    margin-bottom: 0px;
    font-size: 20px;

    .mat-icon-button {
      top: -5px;
      margin-right: 10px;
      background-color: white;
      width: 30px;
      height: 30px;
      line-height: 30px;

      mat-icon {
        font-size: 20px;
      }
    }
  }

  .container {
    padding-top: 5px;
  }
}
