html {
  height: 100%;
}

body {
  margin: 0px;

  font-family: Roboto, monospace;
  font-size: 13px;
}

.blank-space {
  padding-top: 10px;
  padding-bottom: 10px;
  display: block;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
  background-color: #8e8e8e;
  outline: 1px solid #333;
}
::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}
