@import '~@angular/material/theming';
@import 'src/assets/themes/gaji-id-theme';

// Table
mat-table.sg-datatable {
  width: 100%;

  mat-header-cell {
    font-weight: bold;
  }

  mat-cell {
    font-size: 12px !important;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  .mat-header-row {
    background: white;
  }

  mat-cell.active-column {
    min-width: 100px;
    max-width: 100px;

    mat-checkbox {
      margin-left: auto;
      margin-right: auto;
    }
  }

  mat-header-cell.active-column {
    min-width: 100px;
    max-width: 100px;

    display: flex;
    justify-content: center;
  }

  mat-cell.action {
    min-width: 40px;
    max-width: 40px;

    .action-button {
      margin-left: auto;
      margin-right: auto;
      width: 24px;
      height: 24px;
      line-height: 24px;

      mat-icon {
        font-size: 18px;
      }
    }
  }

  mat-header-cell.action {
    min-width: 40px;
    max-width: 40px;
  }

  mat-cell.order-action {
    min-width: 40px;
    max-width: 40px;

    .action-button {
      width: 30px;
      min-width: 30px;
      line-height: 10px;
      padding-left: 0px;
      padding-right: 0px;

      .action-button-icon {
        width: 80%;
        height: 80%;
      }
    }

    .action-menu {
      display: none;
    }

    .mat-menu-content {
      padding-top: 0px !important;
      padding-bottom: 0px !important;

      .mat-menu-item {
        font-size: 14px !important;
        height: 30px !important;
        line-height: 30px !important;
      }
    }
  }

  mat-header-cell.order-action {
    min-width: 40px;
    max-width: 40px;

    .action-button {
      width: 30px;
      height: 30px;
      line-height: 30px;
    }
  }

  mat-header-row {
    min-height: 40px !important;
  }

  mat-row {
    min-height: 30px !important;
  }

  mat-row:nth-child(even) {
    background-color: #f5f5f5;
  }

  mat-row.row-selection {
    cursor: pointer;

    &:hover {
      background: #f5f5f5;
    }
  }

  mat-row.selected {
    background: #f5f5f5;
  }

  mat-row.selectedToOrder {
    background: #fcc397 !important;

    &.hover {
      background: #fcc397 !important;
    }
  }
}

mat-table.sg-datatable-compact {

  mat-header-row {
    min-height: 40px !important;
  }

  mat-row {
    min-height: inherit !important;
  }
}

mat-paginator.sg-datatable-paginator {

  border-left: solid 1px rgba(0, 0, 0, 0.12);
  border-right: solid 1px rgba(0, 0, 0, 0.12);
  border-bottom: solid 1px rgba(0, 0, 0, 0.12);

  .mat-paginator-container {
    min-height: 40px;
    height: 40px;
  }
}

.mat-header-cell {
  background-color: #FF6F00;
  color: white !important;

  .mat-sort-header-container {
    .mat-sort-header-arrow {
      color: white !important;
    }
  }

  .mat-checkbox-frame {
    border-color: white;
  }
}

//
.sg-datatable {
  width: 100%;

  .mat-header-cell {
    font-weight: bold !important;
  }

  .mat-cell {
    font-size: 12px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
  }

  .mat-header-row {
    background: white !important;
  }

  .mat-cell.active-column {
    min-width: 100px !important;
    max-width: 100px !important;

    .mat-checkbox {
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }

  .mat-header-cell.active-column {
    min-width: 100px !important;
    max-width: 100px !important;

    display: flex !important;
    justify-content: center !important;
  }

  .mat-cell.action {
    min-width: 40px !important;
    max-width: 40px !important;

    .action-button {
      margin-left: auto !important;
      margin-right: auto !important;
      width: 24px !important;
      height: 24px !important;
      line-height: 24px !important;

      mat-icon {
        font-size: 18px !important;
      }
    }
  }

  .mat-header-cell.action {
    min-width: 40px !important;
    max-width: 40px !important;
    text-align: center !important;
  }

  .mat-cell.order-action {
    min-width: 40px !important;
    max-width: 40px !important;

    .action-button {
      width: 30px !important;
      min-width: 30px !important;
      line-height: 10px !important;
      padding-left: 0px !important;
      padding-right: 0px !important;

      .action-button-icon {
        width: 80% !important;
        height: 80% !important;
      }
    }

    .action-menu {
      display: none !important;
    }

    .mat-menu-content {
      padding-top: 0px !important;
      padding-bottom: 0px !important;

      .mat-menu-item {
        font-size: 14px !important;
        height: 30px !important;
        line-height: 30px !important;
      }
    }
  }

  .mat-header-cell.order-action {
    min-width: 40px !important;
    max-width: 40px !important;

    .action-button {
      width: 30px !important;
      height: 30px !important;
      line-height: 30px !important;
    }
  }

  .mat-cell.delete-action {
    text-align: center;
    width: 20px;

    .material-icons {
      font-size: 20px;
    }

    mat-icon {
      cursor: pointer;

      &:hover {
        color: mat-color($gaji-id-warn);
      }
    }
  }

  .mat-header-row {
    min-height: 40px !important;
  }

  .mat-row {
    min-height: 30px !important;
  }

  .mat-row:nth-child(even) {
    background-color: #f5f5f5 !important;
  }

  .mat-row.row-selection {
    cursor: pointer !important;

    &:hover {
      background: #f5f5f5 !important;
    }
  }

  .mat-row.selected {
    background: #f5f5f5 !important;
  }

  .mat-row.selectedToOrder {
    background: #fcc397 !important;

    &.hover {
      background: #fcc397 !important;
    }
  }
}

.sg-datatable-compact {
  .mat-header-row {
    min-height: 40px !important;
    height: 40px !important;
  }

  .mat-row {
    height: 33px !important;
    min-height: inherit !important;
  }
}

//
.sg-table-container {
  display: flex;
  flex-direction: row;

  .sg-table-frozen {
    flex: 0 0 300px;
  }

  .sg-table-scrollable {
    flex: 1 1 auto;

    table {
      width: 1700px;

      .number-column {
        text-align: right;

        &.editable {
          cursor: pointer;

          &:hover {
            color: mat-color($gaji-id-primary);
          }
        }
      }
    }
  }

  .sg-table-scrollable.active {
    overflow: auto;
  }
}
//

.mat-menu-panel.order-action-menu {
  max-width: none;
}

// Dialog
mat-dialog-container {
  position: relative !important;
}

.dialog-title {
  margin-bottom: 0px;
}

.dialog-content {
  padding-top: 20px;

  .year-month-input, .date-input {
    display: flex;

    .fill-remaining-space {
      flex: 1 1 auto;
    }
  }

  .xls-table {
    width: 100%;
    min-height: 300px;
    overflow-y: auto;
    background-color: #f9f9f9;

    .table-no-item {
      padding: 12px;
    }
  }
}

// Form Field
mat-form-field {
  width: 100%;
  margin-top: -5px;
  margin-bottom: -8px;
}

mat-form-field.mat-form-field-input {
  width: 100%;

  .mat-form-field-infix {
    border-top: 0px !important;
    padding-top: 0px !important;
  }
}

.mat-form-field-group {
  margin-bottom: 5px;

  .inline-mat-form-field-group-label {
    margin-top: 17px;
  }

  .inline-mat-form-field-group-dropdown {
    margin-top: -1.25em;
  }
}

.inline-mat-form-field-group-input-range {
  display: flex;
  flex-direction: row;

  .input-range-min, .input-range-max {
    width: 50px;
  }
  .input-range-separator {
    flex: 0 0 30px;
    line-height: 52px;
    text-align: center;
  }
}

.mat-form-field-group-label {
  margin-bottom: 3px;

  h1, h2, h3, h4, h5, h6, p {
    margin-top: 0px;
    margin-bottom: 5px;
  }
}

.mat-form-field-text, .mat-form-field-radio {
  padding-bottom: 1.25em;
}

// Button
.mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab, .mat-option-text, .mat-cell {
  font-size: 13px !important;
}

// Badge
.mat-badge-content {
  font-weight: normal;
}

// Tabs
.mat-tabs-container {
  padding: 10px 0px;
  overflow: hidden;
}
