@import 'variable';

.app-primeng-treetable {
  .ui-treetable .ui-treetable-tbody > tr.ui-state-highlight {
    color: $app-treetable-highlight-color !important;
    border-color: $app-treetable-highlight-background-color !important;
    background-color: $app-treetable-highlight-background-color !important;
  }

  .ui-treetable .ui-treetable-tbody > tr.ui-state-highlight .ui-treetable-toggler {
    color: $app-treetable-highlight-color !important;
  }
}

.app-primeng-checkbox {
  .ui-chkbox-box.ui-state-active, .ui-radiobutton-box.ui-state-active, .ui-chkbox-box.ui-state-focus.ui-state-active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
    color: $app-checkbox-color;
    border-color: $app-checkbox-background-color;
    background-color: $app-checkbox-background-color;
  }
}

.app-primeng-table {
  .ui-table {
    table {
      .ui-table-thead > tr > th, .ui-table-tfoot > tr > td {
        background-color: $table-header-background-color;
        color: $table-header-color;
        border-color: $table-header-background-color;
        text-align: left;
      }

      .ui-table-tbody > tr {
        border-left: 1px solid #D5D5D5;
        border-right: 1px solid #D5D5D5;
      }

      .ui-table-tbody > tr > td {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #D5D5D5;
      }

      .ui-table-tbody > tr.ui-state-highlight, .ui-table-tbody > tr:nth-child(even).ui-state-highlight {
        background-color: #ffcc80;
        color: #222222;
      }
    }

    .ui-paginator-bottom {
      border-top: 1px solid #d9d9d9;

      .ui-paginator-pages {
        .ui-paginator-page.ui-state-active, .ui-paginator-page.ui-state-active:focus {
          background: $table-header-background-color;
          color: #ffffff;
          border-color: $table-header-border-color;
          outline-color: $table-header-background-color;
        }
      }
    }
  }

  .surat-peringatan-aktif {
    background-color: #1CA979 !important;
    color: #ffffff !important;
  }

  .surat-peringatan-tidak-aktif {
    background-color: rgb(107, 103, 103) !important;
    color: #ffffff !important;
  }
}
