@import '~@angular/material/theming';
@import 'src/assets/themes/gaji-id-theme';

// Excel input
$app-excel-color-error: black;
$app-excel-background-error: mat-color($gaji-id-warn);

// Tree Table
$app-treetable-highlight-color: black;
$app-treetable-highlight-background-color: #fff;

// Content alert
$app-content-alert-primary-background-color: mat-color(mat-palette($mat-green), 200);
$app-content-alert-primary-color: mat-color($gaji-id-primary, 'lighter-contrast');
$app-content-alert-accent-background-color: mat-color(mat-palette($mat-orange), 200);
$app-content-alert-accent-color: mat-color($gaji-id-accent, 'lighter-contrast');
$app-content-alert-warn-background-color: #c92100;
$app-content-alert-warn-color: #fff;

// Checkbox
$app-checkbox-color: #fff;
$app-checkbox-background-color: mat-color($gaji-id-accent);

// Snackbar
$app-snackbar-color: #fff;
$app-snackbar-background-color: mat-color($gaji-id-primary);
$app-snackbar-border: 1px solid #317c34;

// Card
$app-card-color: rgba(0, 0, 0, 0.87);
$app-card-background-color: #fff;
$app-card-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
$app-card-header-color: #fff;
$app-card-header-background-color: mat-color($gaji-id-primary);

// Dialog
$app-dialog-header-primary-color: #fff;
$app-dialog-header-primary-background-color: mat-color($gaji-id-primary);
$app-dialog-header-accent-color: #fff;
$app-dialog-header-accent-background-color: mat-color($gaji-id-accent);
$app-dialog-header-warn-color: #fff;
$app-dialog-header-warn-background-color: mat-color($gaji-id-warn);

// Group box
$app-group-box-border: 1px solid #e3e3e3;
$app-group-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
$app-group-box-legend-color: #333;
$app-group-box-legend-background-color: #fff;

// Expansion panel
$app-expansion-panel-color-primary: #fff;
$app-expansion-panel-background-color-primary: mat-color($gaji-id-primary);
$app-expansion-panel-color-accent: #fff;
$app-expansion-panel-background-color-accent: mat-color($gaji-id-accent);
$app-expansion-panel-color-warn: #fff;
$app-expansion-panel-background-color-warn: mat-color($gaji-id-warn);

// Table
$table-header-background-color: #FF6F00;
$table-header-color: #fff;
$table-header-border-color: #FF6F00;
$table-background-color: #FF6F00;
$table-color: #fff;

// Calendar Month
$calendar-month-table-header-color: #fff;
$calendar-month-table-header-background-color: #FF6F00;
$calendar-month-table-month-value-color-primary: #fff;
$calendar-month-table-month-value-background-color-primary: mat-color($gaji-id-primary);
$calendar-month-table-month-value-color-accent: #fff;
$calendar-month-table-month-value-background-color-accent: mat-color($gaji-id-accent);
$calendar-month-table-month-value-color-warn: #fff;
$calendar-month-table-month-value-background-color-warn: mat-color($gaji-id-warn);
