<div class="app-card">
  <div class="app-card-header">
    <h1 class="app-card-header-title">Tambah NPWP</h1>
  </div>
  <div class="app-card-content">
    <form [formGroup]="inputForm" novalidate>
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <app-text id="npwpName" name="npwpName" [focus]="true" placeholder="Nama NPWP" formControlName="npwpName" message="mstNpwp"
            errorKey="npwpName" [maxlength]="VAR_MAX_LEN.name" required></app-text>
        </div>
        <div class="col-md-offset-1 col-md-2 col-sm-12">
          <app-mask id="npwpNumber" name="npwpNumber" mask="99.999.999.9-999.999" placeholder="Nomor NPWP" formControlName="npwpNumber"
            message="mstNpwp" errorKey="npwpNumber" required></app-mask>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <app-text id="companyName" name="companyName" placeholder="Nama Perusahaan" formControlName="companyName" message="mstNpwp"
            errorKey="companyName" [maxlength]="VAR_MAX_LEN.name" required></app-text>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <app-textarea id="address" name="address" placeholder="Alamat" formControlName="address" message="mstNpwp" errorKey="address"
            required></app-textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <app-text id="city" name="city" placeholder="Kota" formControlName="city" message="mstNpwp" errorKey="city" [maxlength]="VAR_MAX_LEN.city"
            required></app-text>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <app-text id="taxOffice" name="taxOffice" placeholder="Kantor Pajak" formControlName="taxOffice" message="mstNpwp" errorKey="taxOffice"
            [maxlength]="VAR_MAX_LEN.name" required></app-text>
        </div>
      </div>
      <fieldset class="app-group-box">
        <legend class="app-group-box-legend">
          <b>Pemotong</b>
        </legend>
        <div class="row">
          <div class="col-md-3 col-sm-12">
            <app-text id="npwpOwnerName" name="npwpOwnerName" placeholder="Nama" formControlName="npwpOwnerName" message="mstNpwp" errorKey="npwpOwnerName"
              [maxlength]="VAR_MAX_LEN.name" required></app-text>
          </div>
          <div class="col-md-offset-1 col-md-2 col-sm-12">
            <app-mask id="npwpOwnerNumber" name="npwpOwnerNumber" mask="99.999.999.9-999.999" placeholder="NPWP" formControlName="npwpOwnerNumber"
              message="mstNpwp" errorKey="npwpOwnerNumber" required></app-mask>
          </div>
        </div>
      </fieldset>
      <fieldset class="app-group-box">
        <legend class="app-group-box-legend">
          <b>Kuasa</b>
        </legend>
        <div class="row">
          <div class="col-md-3 col-sm-12">
            <app-text id="npwpAgentName" name="npwpAgentName" placeholder="Nama" formControlName="npwpAgentName" message="mstNpwp" errorKey="npwpAgentName"
              [maxlength]="VAR_MAX_LEN.name" required></app-text>
          </div>
          <div class="col-md-offset-1 col-md-2 col-sm-12">
            <app-mask id="npwpAgentNumber" name="npwpAgentNumber" mask="99.999.999.9-999.999" placeholder="NPWP" formControlName="npwpAgentNumber"
              message="mstNpwp" errorKey="npwpAgentNumber" required></app-mask>
          </div>
        </div>
      </fieldset>
      <div class="blank-space"></div>
      <div class="row">
        <div class="col-md-2 col-sm-2" *ngIf="!selectedNpwp">
          <app-year-month id="activeStartMonth" name="activeStartMonth" placeholder="Mulai Aktif" formControlName="activeStartMonth"
            message="mstNpwp" errorKey="activeStartMonth" required></app-year-month>
        </div>
        <div class="col-md-2 col-sm-2" *ngIf="selectedNpwp">
          <app-year-month id="activeStartMonth" name="activeStartMonth" placeholder="Mulai Aktif" formControlName="activeStartMonth"
            message="mstNpwp" errorKey="activeStartMonth" required [disabled]="!selectedNpwp.isActive"></app-year-month>
        </div>
        <div class="col-md-2 col-sm-2" *ngIf="selectedNpwp">
          <app-year-month *ngIf="!selectedNpwp.isActive" id="activeEndMonth" name="activeEndMonth" placeholder="Akhir Aktif" formControlName="activeEndMonth"
            message="mstNpwp" errorKey="activeEndMonth" required [disabled]="!selectedNpwp.isActive"></app-year-month>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <app-content-alert></app-content-alert>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <ng-container *ngIf="!selectedNpwp">
            <button mat-button mat-raised-button color="primary" (click)="doCreate()" [disabled]="inputForm.invalid">Simpan</button>
          </ng-container>
          <ng-container *ngIf="selectedNpwp">
            <button mat-button mat-raised-button color="primary" (click)="doUpdate()" [disabled]="inputForm.invalid">Ubah</button>
            <button *ngIf="selectedNpwp.isActive" mat-button mat-stroked-button color="warn" (click)="doDeactivate()" [disabled]="inputForm.invalid">Nonaktifkan</button>
          </ng-container>
          <button mat-button mat-raised-button (click)="doCancel()">Batal</button>
        </div>
      </div>
    </form>
  </div>
</div>
