<mat-form-field #matFormField [floatLabel]="floatLabel" class="app-mat-form-field" [class.mat-form-field-invalid]="errorState">
  <input
    ngModel
    #maskInput
    #input="ngModel"
    matInput
    type="mask"
    [name]="name"
    [textMask]="{ mask: arrMask }"
    [placeholder]="placeholder"
    [required]="required"
    [min]="min"
    [max]="max"
    [maxlength]="maxlength"
    [disabled]="disabled"
    [ngModel]="value"
    (change)="emitValue($event.target.value)"
    (keyup)="updateValue($event.target.value)"
    (blur)="updateValue($event.target.value); propagateTouch($event)"/>
  <mat-icon *ngIf="errorState" matSuffix class="app-input-tooltip-icon app-input-tooltip-error">error_outline</mat-icon>
  <div *ngIf="errorState"
    [ngStyle]="styleClass"
    class="app-input-tooltip-message app-input-tooltip-message-error" [innerHTML]="errorMessage"></div>
</mat-form-field>
