<div class="setting-container">
  <div class="mat-headline" *ngIf="!inputMode">
    Pengaturan NPWP Perusahaan
  </div>
  <div class="container">
    <div [ngStyle]="{'display': inputMode ? 'none': 'inherit'}">
      <app-menu-1-browse #menu1BrowseComponent (onAdd)="openInputMode()" (onEdit)="openInputMode($event)">
      </app-menu-1-browse>
    </div>

    <ng-container *ngIf="inputMode">
      <app-menu-1-input [npwpToEdit]="selectedNpwp" (onCreate)="refreshData($event)" (onUpdate)="refreshData($event)" (onCancel)="refreshData($event)">
      </app-menu-1-input>
    </ng-container>
  </div>
</div>
