<app-ui-block-dialog></app-ui-block-dialog>
<div class="app-dialog app-dialog-warn">
  <div mat-dialog-title class="app-dialog-header">
    <h1 class="app-dialog-header-title">{{ 'Peringatan' | translate}}</h1>
    <button tabindex="-1" mat-icon-button class="app-dialog-header-close-button" [appCloseDialog]="dialogRef">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
  <mat-dialog-content class="app-dialog-content">
    <form [formGroup]="inputForm" novalidate>
      <p>
        {{ 'Andaakanmenghapushakaksesuser' | translate }}
        <b>{{ selectedUserNpwpAuthorization?.user.userName }}</b> {{ 'terhadapNpwp' | translate }}
        <b>{{ selectedUserNpwpAuthorization?.npwp?.npwpName }}</b>
      </p>
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <app-date id="endDate" name="endDate" placeholder="{{ 'BerlakuMulai' | translate }}" formControlName="endDate"></app-date>
        </div>
      </div>
    </form>
  </mat-dialog-content>
  <div class="app-content-alert">
    <app-content-alert></app-content-alert>
  </div>
  <mat-dialog-actions align="end">
    <button mat-button mat-raised-button [appCloseDialog]="dialogRef">{{ 'Batal' | translate }}</button>
    <button mat-button mat-raised-button color="primary" (click)="doConfirm()" [disabled]="inputForm.invalid">{{ 'Konfirmasi' | translate }}</button>
  </mat-dialog-actions>
</div>
