<mat-form-field #matFormField [floatLabel]="floatLabel" class="app-mat-form-field" [class.mat-form-field-invalid]="errorState">
  <input
    ngModel
    #textInput
    #input="ngModel"
    matInput
    type="text"
    [name]="name"
    [ngModel]="value"
    (ngModelChange)="_onValueChange($event)"
    [placeholder]="placeholder"
    [required]="required"
    [min]="min"
    [max]="max"
    [maxlength]="maxlength"
    [disabled]="disabled"
    (blur)="markInputAsTouched()"/>
  <mat-icon *ngIf="errorState" matSuffix class="app-input-tooltip-icon app-input-tooltip-error">error_outline</mat-icon>
  <div *ngIf="errorState"
    [ngStyle]="styleClass"
    class="app-input-tooltip-message app-input-tooltip-message-error" [innerHTML]="errorMessage"></div>
</mat-form-field>
