@import '~@angular/material/theming';
@import 'src/assets/themes/gaji-id-theme';

.login-container {
  .login-screen {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    width: 65%;
    height: 100vh;

    background: url('../../../assets/img/login-screen.jpg');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
  }

  .login-form {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;

    background-color: white;

    width: 35%;
    height: 100vh;

    .logo-container {
      width: 100%;
      height: 30%;

      display: flex;
      align-items: center;
      justify-content: center;

      margin-top: 40px;

      img {
        width: 60%;
        height: auto;
      }
    }

    .login-content {
      padding: 0 50px;

      .mat-headline {
        font-weight: 500;
        color: mat-color($gaji-id-primary, 'lighter-contrast', 0.55);
      }

      .title-divider {
        width: 40px;
        border-bottom: 4px solid mat-color($gaji-id-primary);
      }
    }

    .form-input {
      mat-form-field {
        margin-top: 15px;
        width: 100%;
      }
    }

    .app-card {
      box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
                0 2px 2px 0 rgba(0,0,0,.14),
                0 1px 5px 0 rgba(0,0,0,.12);

      background-color: #c92100;
      color: white;
      font-family: Roboto, "Helvetica Neue", sans-serif;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 20px;
      padding-right: 10px;
      transition: box-shadow 280ms cubic-bezier(.4,0, .2,1);
      border-radius: 2px;
      position: relative;
      clear: both;
      top: 10px;

      .app-card-item {
        overflow: auto;
        clear: left;
        .process-icon {
          float: left;
          margin-top: 3px;

          mat-icon {
            font-size: 18px;
          }
        }

        .process-status {
          float: left;
          line-height: 25px;
          margin-top: auto;
          margin-bottom: auto;
          margin-right: 25px;
          margin-left: 10px;
          width: calc(100% - 70px);
        }
      }

      .close-button {
        position: absolute;
        right: 15px;
        top: 10px;
      }

      .close-button:hover {
        background-color: lightgray;
        border-radius: 50px;
      }

      .mat-icon-button {
        height: 23px;
        width: 23px;
        line-height: 18px;
        margin-top: -2px;

        mat-icon {
          font-size: 18px;
        }
      }
    }

    .input-icon {
      font-size: 16px;
    }

    .show-password-icon {
      cursor: pointer;
    }

    .lupa-kata-sandi {
      float: right;
      margin-bottom: 10px;

      mat-icon {
        font-size: 16px;
        width: 16px;
        height: 16px;
        line-height: 16px;
      }

      .mat-button {
        padding: 0;
        font-size: 11px !important;
        line-height: 20px;

        &::ng-deep .mat-button-focus-overlay {
          background-color:transparent;
        }
      }
    }

    .login-button {
      width: 100%;
      margin: 35px 0;
      align-items: center;
      justify-content: center;

      color: mat-color($gaji-id-primary, 'darker-contrast');

      mat-progress-spinner {
        display: inline;
        margin-right: 30px;
        top: -5px;
      }

      .login-text {
        display: inline;
      }
    }

    .login-button-error {
      margin-top: 20px !important;
    }

    .login-footer {
      position: absolute;
      bottom: 30px;

      width: 100%;
      text-align: center;

      .mat-button {
        padding: 0;
        line-height: 20px;

        &::ng-deep .mat-button-focus-overlay {
          background-color:transparent;
        }
      }
    }
  }
}
