<div class="login-container">
  <div class="login-screen"></div>
  <div class="login-form">
    <div class="logo-container">
      <img src="assets/img/gaji.id.png">
    </div>

    <div class="login-content">
      <div class="mat-headline">Login Akun</div>
      <div class="title-divider"></div>
      <form class="form-input" [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field floatLabel="never" color="primary">
          <input matInput placeholder="Nama Pengguna" formControlName="username" tabindex="10" required autofocus>
          <span matPrefix>
            <mat-icon class="input-icon">account_circle</mat-icon>&nbsp;&nbsp;&nbsp;</span>
        </mat-form-field>
        <mat-form-field class="password-input" floatLabel="never" color="primary">
          <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Kata Sandi" formControlName="password" required
            tabindex="20">
          <span matPrefix>
            <mat-icon class="input-icon">security</mat-icon>&nbsp;&nbsp;&nbsp;</span>
          <mat-icon matSuffix class="show-password-icon" (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
        <div class="lupa-kata-sandi">
          <button mat-button tabindex="50">
            <mat-icon class="input-icon">help</mat-icon>
            Lupa Kata Sandi
          </button>
        </div>
        <ng-container *ngIf="isLoginError">
          <div class="app-card">
            <div class="app-card-item">
              <span class="process-icon">
                <mat-icon>error</mat-icon>
              </span>
              <p class="process-status">Invalid username or password</p>
            </div>
            <button class="close-button" mat-icon-button title="Close" (click)="isLoginError = false;">
              <mat-icon>clear</mat-icon>
            </button>
          </div>
        </ng-container>
        <button type="submit" mat-raised-button [ngClass]="{ 'login-button': true, 'login-button-error': isLoginError }" color="accent"
          tabindex="30">
          <mat-progress-spinner *ngIf="isProcessLogin" [color]="'#fff'" [diameter]="25" [mode]="'indeterminate'"></mat-progress-spinner>
          <span class="login-text">Masuk</span>
        </button>
      </form>
    </div>

    <div class="login-footer">
      Belum punya akun gaji.id ?
      <button mat-button color="accent" [disableRipple]="true" tabindex="40">Daftar Sekarang!</button>
    </div>
  </div>
</div>
