<mat-form-field #matFormField [floatLabel]="floatLabel" class="app-mat-form-field" [class.mat-form-field-invalid]="errorState">
  <input
    ngModel
    #yearMonthInput
    #input="ngModel"
    matInput
    type="text"
    [ngModel]="selectedValue"
    (ngModelChange)="_onValueChange($event)"
    [matDatepicker]="dp"
    [placeholder]="placeholder"
    [required]="required"
    [disabled]="disabled"
    (blur)="markInputAsTouched()">
  <mat-datepicker-toggle matSuffix [for]="dp" [disabled]="disabled"></mat-datepicker-toggle>
  <mat-datepicker #dp
                  startView="year"
                  (monthSelected)="chosenMonthHandler($event, dp)">
  </mat-datepicker>
  <mat-icon *ngIf="errorState" matSuffix class="app-input-tooltip-icon app-input-tooltip-yearmonth-icon app-input-tooltip-error">error_outline</mat-icon>
  <div *ngIf="errorState"
    [ngStyle]="styleClass"
    class="app-input-tooltip-message app-input-tooltip-message-error" [innerHTML]="errorMessage"></div>
</mat-form-field>
