<app-ui-block-dialog></app-ui-block-dialog>
<div class="app-dialog app-dialog-warn">
  <div mat-dialog-title class="app-dialog-header">
    <h1 class="app-dialog-header-title">{{ 'KonfirmasiNonaktifData' | translate}}</h1>
    <button tabindex="-1" mat-icon-button class="app-dialog-header-close-button" [appCloseDialog]="dialogRef">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
  <mat-dialog-content class="app-dialog-content">
    <form [formGroup]="inputForm" novalidate>
      <p>
        NPWP
        <b>{{ selectedNpwp?.npwpName }}</b>
        {{ 'tidakakanbisadigunakanlagi' | translate }}.
      </p>
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <app-year-month id="activeEndMonth" name="activeEndMonth" placeholder="{{ 'NPWPberlakusampai' | translate }}" formControlName="activeEndMonth"
            message="npwp" errorKey="activeEndMonth" required></app-year-month>
        </div>
      </div>
    </form>
  </mat-dialog-content>
  <div class="app-content-alert">
    <app-content-alert></app-content-alert>
  </div>
  <mat-dialog-actions align="end">
    <button fxFlexOffset="20px" mat-button mat-raised-button (click)="doCancel()">{{ 'Batal' | translate }}</button>
    <button mat-button mat-raised-button color="primary" (click)="doConfirm()" [disabled]="inputForm.invalid">{{ 'Konfirmasi' | translate }}</button>
  </mat-dialog-actions>
</div>
