<div class="container app-master-browse-container">
  <div class="loading-shade" *ngIf="submitted">
    <mat-spinner *ngIf="submitted"></mat-spinner>
  </div>
  <mat-accordion>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Filter
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form [formGroup]="filterForm" (ngSubmit)="onSearch()">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <mat-form-field>
                <mat-select formControlName="workplaceId" placeholder="Lokasi Kerja">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let workplace of workplaces" [value]="workplace.id">{{ workplace.workplaceName }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <mat-form-field class="full-width">
                <input matInput [matDatepicker]="pickerDateFrom" formControlName="dateFrom" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="pickerDateFrom"></mat-datepicker-toggle>
                <mat-datepicker #pickerDateFrom></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <mat-form-field class="full-width">
                <input matInput [matDatepicker]="pickerDateTo" formControlName="dateTo" placeholder="Choose a date">
                <mat-datepicker-toggle matSuffix [for]="pickerDateTo"></mat-datepicker-toggle>
                <mat-datepicker #pickerDateTo></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <mat-form-field>
                <input type="text" placeholder="Pilih Karyawan" aria-label="Karyawan" matInput formControlName="employeeId"
                  [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of filteredOptions | async" [value]="option.employeeId">
                    {{option.employeeName}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>
        </div>
        <button mat-flat-button color="primary" type="submit">Cari</button>
      </form>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="mat-elevation-z3">
    <p-table [value]="listRekapAbsensi" [paginator]="true" [rows]="10" selectionMode="single" [(selection)]="selectRekap" (onRowSelect)="onSelectRekap($event)">
      <ng-template pTemplate="header">
        <tr>
          <th *ngFor="let col of columns">
            {{ col }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-absensi>
        <tr [pSelectableRow]="absensi">
          <td *ngFor="let col of columns">
            {{ absensi[col] }}
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>