<app-content-alert></app-content-alert>
<div class="mat-elevation-z8 app-master-browse-container">
  <div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div>
    <mat-accordion #filterPanel="matAccordion" multi="true">
      <mat-expansion-panel class="app-master-browse-filter">
        <mat-expansion-panel-header>
          <mat-panel-description>
            <b> Pencarian &nbsp;
              <span class="filter-hint"> (klik untuk membuka) </span>
            </b>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <form [formGroup]="filterForm">
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <app-text id="npwpName" name="npwpName" placeholder="Nama NPWP" formControlName="npwpName" message="npwp"
                errorKey="npwpName" [maxlength]="VAR_MAX_LEN.name"></app-text>
            </div>
            <div class="col-md-4 col-sm-12">
              <app-number id="npwpNumber" name="npwpNumber" placeholder="Nomor NPWP" formControlName="npwpNumber" [allowThousandSeparator]="false"
                message="npwp" errorKey="npwpNumber"></app-number>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-sm-12">
              <app-text id="city" name="city" placeholder="Kota" formControlName="city" message="npwp" errorKey="city"
                [maxlength]="VAR_MAX_LEN.city"></app-text>
            </div>
            <div class="col-md-2 col-sm-12">
              <app-dropdown id="activeFilter" name="activeFilter" placeholder="StatusAktif" formControlName="isActive"
                [items]="activeStates" [withAll]="true">
              </app-dropdown>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <button mat-button mat-raised-button color="primary" (click)="filter()"> Cari </button>
            </div>
          </div>
        </form>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <mat-table class="sg-datatable sg-datatable-compact" [dataSource]="npwps">
    <ng-container matColumnDef="order">
      <mat-header-cell class="order-action" *matHeaderCellDef>
        <button mat-icon-button class="action-button" [disableRipple]="true" title="Ubah urutan?">
          <mat-icon>open_with</mat-icon>
        </button>
      </mat-header-cell>
      <mat-cell class="order-action" *matCellDef="let element;">
        <ng-container *ngIf="!selectedNpwp || element.selected;else notSelected">
          <button *ngIf="!selectedNpwp?.selected" class="action-button" mat-button mat-raised-button title="Klik untuk mengubah urutan data"
            (click)="selectNpwp(element)">
            <mat-icon class="moveable">unfold_more</mat-icon>
          </button>
          <button *ngIf="selectedNpwp?.selected" class="action-button" mat-button mat-raised-button title="Batal"
            (click)="selectNpwp(element)">
            <mat-icon>close</mat-icon>
          </button>
        </ng-container>
        <ng-template #notSelected>
          <button mat-button mat-raised-button class="action-button" [matMenuTriggerFor]="menuAction" title="Pindahkan pada data ini">
            <img class="action-button-icon" src="assets/img/icons/paste-icon.png">
          </button>
          <mat-menu class="order-action-menu" #menuAction="matMenu" [overlapTrigger]="true">
            <button mat-menu-item (click)="orderToTop(element)">Pindahkan diatas '{{ element.npwpName }}'</button>
            <button mat-menu-item (click)="orderToBottom(element)">Pindahkan dibawah '{{ element.npwpName }}'</button>
          </mat-menu>
        </ng-template>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="npwpName">
      <mat-header-cell *matHeaderCellDef> NamaNPWP </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.npwpName }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="npwpNumber">
      <mat-header-cell *matHeaderCellDef> NomorNPWP </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.npwpNumber | npwp }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef> Alamat </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.address }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="taxOffice">
      <mat-header-cell *matHeaderCellDef> KantorPajak </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.taxOffice }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="activeStartMonth">
      <mat-header-cell *matHeaderCellDef> BulanAktif </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.activeStartMonth | yearMonth }} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="isActive">
      <mat-header-cell class="action" *matHeaderCellDef> Aktif </mat-header-cell>
      <mat-cell class="action" *matCellDef="let element">
        <mat-icon color="primary" *ngIf="element.isActive">done</mat-icon>
        <mat-icon color="warn" *ngIf="!element.isActive">clear</mat-icon>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="edit">
      <mat-header-cell class="action" *matHeaderCellDef></mat-header-cell>
      <mat-cell class="action" *matCellDef="let element;">
        <button class="action-button" mat-icon-button title="Edit" (click)="edit(element)">
          <mat-icon>edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="delete">
      <mat-header-cell class="action" *matHeaderCellDef></mat-header-cell>
      <mat-cell class="action" *matCellDef="let element;">
        <button class="action-button" mat-icon-button title="Hapus" (click)="delete(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{ 'row-selection': true, 'selectedToOrder': row.selected }"
      [attr.data-id]="row?.id"></mat-row>
  </mat-table>
  <mat-table-empty-datasource [dataSource]="npwps"></mat-table-empty-datasource>
  <mat-paginator class="sg-datatable-paginator" #datatablePaginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
</div>
<div class="app-master-browse-action">
  <button mat-button mat-raised-button color="primary" (click)="add()"> Tambah NPWP </button>
</div>
