<h1 mat-dialog-title>{{ message }}</h1>
<mat-dialog-content>
  <pre [innerHTML]="details"></pre>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="mat-raised-button" mat-button mat-dialog-close (click)="closeDialog()">Close</button>
</mat-dialog-actions>
