<div [ngClass]="['app-alert', severity]" *ngIf="!isAlertClosed">
  <div class="app-alert-item">
    <div class="alert-icon-wrapper">
      <mat-icon>error_outline</mat-icon>
    </div>
    <div class="alert-text-wrapper">
      <span class="alert-text"> {{ message }} </span>
      <div class="alert-actions">
        <button mat-stroked-button class="alert-action-button" (click)="openDetails()">Details</button>
      </div>
    </div>
  </div>
  <button class="close-button" mat-icon-button title="Close" (click)="hide()">
    <mat-icon>clear</mat-icon>
  </button>
</div>
