$app-alert-close-button-width: 40px;

.app-alert {
  background-color: #007cbb;
  color: #fff;
  z-index: 99999;
  margin: 0;
  border: none;
  border-radius: 0;
  max-height: 4rem;
  overflow-y: auto;
  padding-top: 3px;
  padding-bottom: 3px;

  &.success {
    background-color: #007cbb !important;
    color: #fff !important;
  }

  &.warning {
    background-color: #c25400 !important;
    color: #fff !important;
  }

  &.error {
    background: #c92100 !important;
    color: #fff !important;
  }

  .app-alert-item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(100% - $app-alert-close-button-width);
    align-items: center;
    justify-content: center;

    .alert-icon-wrapper {
      display: inline;
      margin-right: 5px;
      padding-top: 3px;
    }

    .alert-text-wrapper {
      display: inline;

      .alert-text {
        margin-right: 5px;
      }

      .alert-actions {
        display: inline;

        .alert-action-button {
          text-transform: uppercase;
          padding: 0px;
          height: 25px;
          line-height: 11px;
          font-size: 11px !important;
        }
      }
    }
  }

  .close-button {
    width: $app-alert-close-button-width;
    position: absolute;
    top: -3px;
    right: 0;
  }
}

::ng-deep pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
::ng-deep .string { color: green; }
::ng-deep .number { color: darkorange; }
::ng-deep .boolean { color: blue; }
::ng-deep .null { color: magenta; }
::ng-deep .key { color: red; }

pre {
  outline: 1px solid #ccc;
  padding: 5px;
  margin: 5px;

  font-family: Consolas,Monaco,Courier,monospace !important;
  line-height: 1rem;

  border: 1px solid #ccc;
  max-height: 15rem;
  border-radius: .125rem;
  overflow: auto;

  font-size: 1em;

  display: block;
  white-space: pre;
}
