<div>
  <mat-toolbar>
    <mat-toolbar-row>
      <!-- <label class="mat-title" tabindex="1" cdkFocusInitial routerLink="/dashboard">PT Gaji ID</label> -->
      <span class="example-fill-remaining-space"></span>
      <span class="menu-user-login">
        <button mat-icon-button [disableRipple]="true" title="Search Menu">
          <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menuNotification" [disableRipple]="true" title="Notifikasi">
          <mat-icon matBadge="3" matBadgeColor="accent">notifications</mat-icon>
        </button>
        <mat-menu #menuNotification="matMenu" xPosition="before" [overlapTrigger]="false">
          <ng-container *ngFor="let menu of notifications">
            <button mat-menu-item>{{ menu.label }}</button>
          </ng-container>
        </mat-menu>

        <ng-container>
          <button mat-icon-button [disableRipple]="true" routerLink="/settings" title="Setting">
            <mat-icon>settings</mat-icon>
          </button>
        </ng-container>

        <button mat-button [matMenuTriggerFor]="menuUserLogin" [disableRipple]="true">
          <mat-icon>person_outline</mat-icon>
          Victor Winata
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #menuUserLogin="matMenu" xPosition="before" [overlapTrigger]="false">
          <button mat-menu-item>
            <mat-icon>business</mat-icon>
            PT Sofco Graha
            <mat-icon color="primary" class="edit-icon">edit</mat-icon>
          </button>

          <button mat-menu-item>
            <mat-icon>security</mat-icon>Ubah Kata Sandi
          </button>
          <button mat-menu-item [matMenuTriggerFor]="languages">
            <mat-icon>flag</mat-icon> Ganti Bahasa
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item>
            <mat-icon>help</mat-icon>Bantuan
          </button>
          <button mat-menu-item (click)="logout()" routerLink="/login">
            <mat-icon>input</mat-icon>Logout
          </button>
        </mat-menu>

        <mat-menu #languages="matMenu">
          <button *ngFor="let language of languageList" mat-menu-item (click)="changeLanguage(language.value)">{{ language.label }}</button>
        </mat-menu>
      </span>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span class="example-fill-remaining-space"></span>
      <span class="gaji-id-logo">
        <!-- powered by
        <a target="_blank" href="http://gaji.id">
          <img mat-card-sm-image src="assets/img/gaji.id.png">
        </a> -->
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-sidenav-container class="example-container">
    <mat-sidenav mode="side" [opened]="true" [disableClose]="true">
      <div style="text-align:center">
        <a routerLink="/dashboard">
          <img mat-card-sm-image src="assets/img/gaji.id.png">
        </a>
      </div>
      <div class="menu-container">
        <button mat-button routerLink="/settings/menu-1" routerLinkActive="active">
          <div class="main-menu">
            <mat-icon class="menu-icon">menu</mat-icon>
            <div class="text-padding">Menu 1</div>
          </div>
        </button>
        <button mat-button routerLink="/work-calendar" routerLinkActive="active">
          <div class="main-menu">
            <mat-icon class="menu-icon">menu</mat-icon>
            <div class="text-padding">Kalender Kerja</div>
          </div>
        </button>
        <button mat-button routerLink="/peserta-bpjs" routerLinkActive="active">
          <div class="main-menu">
            <mat-icon class="menu-icon">menu</mat-icon>
            <div class="text-padding">Peserta BPJS</div>
          </div>
        </button>
        <button mat-button routerLink="menu-4" routerLinkActive="active">
          <div class="main-menu">
            <mat-icon class="menu-icon">menu</mat-icon>
            <div class="text-padding">Menu 4</div>
          </div>
        </button>
        <button mat-button routerLink="menu-5" routerLinkActive="active">
          <div class="main-menu">
            <mat-icon class="menu-icon">menu</mat-icon>
            <div class="text-padding">Menu 5</div>
          </div>
        </button>
      </div>
    </mat-sidenav>
  
    <mat-sidenav-content class="example-content">
      <router-outlet></router-outlet>
      <div style="height: 50px;"></div>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
