@import '~@angular/material/theming';
@import 'src/assets/themes/gaji-id-theme';
@import './main-app.component.scss';

.example-container {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
}

mat-sidenav.mat-sidenav {
  width: 230px;
  padding: 65px 10px 0;
  // margin-top: 60px;
  box-shadow: -3px 0 3px rgba(0,0,0,.1) inset;

  &::-webkit-scrollbar,&::-webkit-scrollbar-track {
    display: none;
  }

  &:hover::-webkit-scrollbar {
    display: inherit;
    width: 4px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #a5a5a5;
  }
}

.mat-drawer {
  overflow-y: overlay;
}

.mat-drawer-container {
  background-color: #F5F5F5;
}

.example-content {
  padding: 80px 35px 0px 30px;
  width: calc(100% - 230px);
}

/* Credit : https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488 */
@media (min-width: 1281px) {
  mat-sidenav-content {
    margin-left: 230px !important;
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  mat-sidenav-content {
    margin-left: 230px !important;
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 950px to 1024px
*/
@media (min-width: 960px) and (max-width: 1024px) {
  mat-sidenav-content {
    margin-left: 230px !important;
  }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 960px) {
  mat-sidenav-content {
    margin-left: 0px !important;
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 960px) and (orientation: landscape) {
  mat-sidenav-content {
    margin-left: 0px !important;
  }
}



// //////////////////////////////////////////////////////////

.menu-container {
  button {
    width: 100%;
    text-align: left;
    white-space: normal;
    line-height: normal;
    padding: 6px 0 6px 20px;

    &.active {
      color: mat-color($gaji-id-primary);
    }
  }

  .submenu-container {
    button {
      padding: 10px 30px 10px 48px;
      font-weight: normal;
      font-size: 13px;

      &.active {
        font-weight: 500;
      }
    }
  }

  .main-menu {
    display: flex;
    flex-direction: row;
    align-content: flex-start;

    .text-padding {
      flex: 0 0 140px;
      width: 140px;
      line-height: 24px;
    }
  }

  .menu-icon {
    font-size: 18px;
    flex: 0 0 24px;
    line-height: 24px;
  }

  .arrow-icon {
    flex: 0 0 24px;
    line-height: 24px;
  }
}
