@import '~@angular/material/theming';
@import 'src/assets/themes/gaji-id-theme';

@include mat-core();

$logo_height: 65px;

::ng-deep .mat-badge-accent .mat-badge-content {
  color: white;
}

.customer-logo {
  position: fixed;
  top: 0;
  left: 35px;
  z-index: 11;

  width: 120px;
  height: 110px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  background-color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  .mat-card-md-image {
    width: 100px;
    height: auto;
  }
}

mat-toolbar.mat-toolbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;
  // box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);

  background-color: transparent;

  mat-toolbar-row:first-child {
    pointer-events: all;
    height: 65px;
    background-color: $gaji-id-cream;
    // color: mat-color($gaji-id-primary, 'default-contrast');

    padding-left: 230px;

    .mat-title {
      font-weight: 500;
      color: mat-color($gaji-id-primary, 'lighter-contrast', 0.55);

      line-height: 100%;
      margin: 0;
    }

    .divider {
      border-right: 1px solid mat-color($gaji-id-primary, 'lighter-contrast', 0.2);
      height: 20px;
      margin: auto 5px;
    }

    .menu-user-login {

      display: flex;

      .mat-button {
        font-size: 14px !important;
        // font-weight: normal;

        // &:hover,&:focus {
        //   color: mat-color($gaji-id-primary);
        // }

        &::ng-deep .mat-button-focus-overlay {
          background-color:transparent;
        }
      }
    }
  }

  mat-toolbar-row:last-child {
    height: 100%;
    border-top: 1px solid #cecece;
    // border-top: 0;

    // background-color: mat-color($gaji-id-primary);
    // color: mat-color($gaji-id-primary, 'default-contrast');
    background-color: transparent;

    .gaji-id-logo {
      pointer-events: all;
      height: 100%;
      padding-top: 5px;
      padding-right: 15px;
      font-size: 12px;
      color: mat-color($gaji-id-primary, 'lighter-contrast', 0.55);

      img {
        vertical-align: middle;
      }

      .mat-card-sm-image {
        width: auto;
        height: 38px;
      }
    }

    button.mat-button {
      // &:hover,&:focus {
      //   color: mat-color($gaji-id-primary);
      // }

      &.active {
        // border-bottom: 2px solid mat-color($gaji-id-primary, A700);
        background-color: mat-color($gaji-id-primary, lighter, 0.3);
      }

      &::ng-deep .mat-button-focus-overlay {
        background-color: transparent;
      }
    }

    // .menu-user-login>.mat-button {
    //   font-weight: normal;

    //   &::ng-deep .mat-button-focus-overlay {
    //     background-color:transparent;
    //   }
    // }
  }
}

.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.main-menu {
  max-width: 340px;
}

.app-menu {
  display: flex;
  flex-wrap: wrap;

  padding: 10px 12px;

  button {
    width: 75px;
    height: 85px;
    padding: 0;
    margin: 5px 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 12px !important;

    .mat-icon {
      width: 44px;
      height: 44px;
      margin: 0;
    }

    .material-icons {
      font-size: 44px;
    }

    font {
      line-height: 20px;
      color: mat-color($gaji-id-primary, 'lighter-contrast', 0.55);
    }
  }
}

.mat-menu-item {
  font-size: 12px;
  width: 200px;
  height: 36px;
  line-height: 36px;
  padding-left: 20px;

  .mat-icon {
    width: 18px;
    height: 18px;
    margin-right: 10px;
  }

  .material-icons {
    font-size: 18px;
  }

  .edit-icon {
    float: right;
    margin: 0;
    line-height: inherit;
    height: inherit;
  }
}