.employee-filters {
    button {
      width: 100%;
      line-height: 50px;

      margin-top: 10px;

      &:last-child {
        margin-bottom: 10px;
      }
    }
  }

  .users-filters {
    .users-filter-helper {
      display: flex;

      .example-fill-remaining-space {
        flex: 1 1 auto;
      }

      .all-selected {
        padding-top: 10px;
      }
    }

    .checkbox-table {
      width: 100%;
      height: 300px;
      overflow-y: auto;
      background-color: #f9f9f9;

      .checkbox-table-item {
        float: left;
        width: 28%;
        height: 20px;
        padding: 12px;

        mat-checkbox {
          margin: 10px;
        }
      }

      .checkbox-table-no-item {
        padding: 12px;
      }
    }
  }
