<app-ui-block-dialog></app-ui-block-dialog>
<div class="app-dialog">
  <div mat-dialog-title class="app-dialog-header">
    <h1 class="app-dialog-header-title">{{ 'TambahOtorisasiUser' | translate}}</h1>
    <button tabindex="-1" mat-icon-button class="app-dialog-header-close-button" [appCloseDialog]="dialogRef">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
  <mat-dialog-content class="app-dialog-content">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="app-pull-left">
          <app-text id="userFilter" name="userFilter" placeholder="{{ 'Cariuser' | translate }}" [(ngModel)]="userFilter" (ngModelChange)="doFilterUser()"></app-text>
        </div>
        <div class="app-pull-right">
          <mat-checkbox class="all-selected" title="{{ 'Pilihsemuauser' | translate }}" [(ngModel)]="isAllUserSelected" (ngModelChange)="selectAllUser()">{{ 'Pilihsemuauser' | translate }}</mat-checkbox>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="app-xls-input">
          <div class="app-xls-input-checkbox" *ngFor="let obj of filteredUsers">
            <mat-checkbox [disabled]="obj.disabled" [(ngModel)]="obj.user.selected" (ngModelChange)="selectUser()">{{ obj.user.name }}</mat-checkbox>
          </div>
          <div class="table-no-item" *ngIf="filteredUsers.length == 0">{{ 'Tidakterdapatdatauser' | translate }}</div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <div class="app-content-alert">
    <app-content-alert></app-content-alert>
  </div>
  <mat-dialog-actions align="end">
    <button mat-raised-button [appCloseDialog]="dialogRef">{{ 'Batal' | translate}}</button>
    <button mat-raised-button color="primary" [disabled]="isNoSelectedUser" (click)="doAddPayrollGroupAuthorization()">
      {{ 'TambahOtorisasi' | translate }}
    </button>
  </mat-dialog-actions>
</div>
