<div [ngClass]="{'ui-block-modal': true}" *ngIf="show">
  <div class="loading-text"> LOADING </div>
  <div class="ui-block-spinner">
    <mat-progress-spinner [color]="'#999999'" [diameter]="75" [mode]="'indeterminate'"></mat-progress-spinner>
  </div>
</div>
