<div [ngClass]="{'ui-block-dialog-modal': true}" *ngIf="show">
  <div class="ui-block-dialog-spinner">
    <mat-progress-spinner [color]="'#999999'" [diameter]="75" [mode]="'indeterminate'"></mat-progress-spinner>
  </div>
</div>
