$color-background: rgba(245,245,255,0.9);
$color-loader: rgba(0, 0, 0, .5);
$dialog-padding: 24px;

.ui-block-dialog-modal {
    display: block;
    z-index: 99998;
    position: absolute;
    width: 100%;
    height: 100%;
    margin-left: -$dialog-padding;
    margin-top: -$dialog-padding;
    background-color: $color-background;

    &.hidden {
      visibility: hidden;
    }
}

.ui-block-dialog-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.loading-text {
  position: absolute;
  top: 40%;
  left: 50.5%;
  transform: translate(-50.5%, -50%);
  font-family: helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 20px;
  color: $color-loader;
  letter-spacing: 0.2em;
}
