<ng-container *ngIf="!isAlertInputClosed">
  <div [ngClass]="['app-card', severity]">
    <ng-container *ngFor="let message of messages; let i = index">
      <div class="app-card-item">
        <ng-container *ngIf="severity == 'warning'">
          <span class="process-icon">
            <mat-icon>warning</mat-icon>
          </span>
        </ng-container>
        <ng-container *ngIf="severity == 'error'">
          <span class="process-icon">
            <mat-icon>error</mat-icon>
          </span>
        </ng-container>
        <p class="process-status">{{ message }}</p>
      </div>
    </ng-container>
    <button class="close-button" mat-icon-button title="Close" (click)="hide()">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</ng-container>
