@import '~@angular/material/theming';
@import 'src/assets/themes/gaji-id-theme';
@import 'src/app/styles/variable';

.app-card {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
            0 2px 2px 0 rgba(0,0,0,.14),
            0 1px 5px 0 rgba(0,0,0,.12);

  background: white;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 10px;
  transition: box-shadow 280ms cubic-bezier(.4,0, .2,1);
  border-radius: 2px;
  position: relative;
  margin-bottom: 15px;

  .app-card-item {
    width: inherit;
    overflow: auto;
    clear: left;

    .process-icon {
      float: left;
      margin-top: 3px;

      mat-icon {
        font-size: 18px;
      }
    }

    .process-status {
      float: left;
      line-height: 25px;
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 25px;
      margin-left: 10px;
      width: calc(100% - 70px);
    }
  }

  .close-button {
    position: absolute;
    right: 15px;
    top: 10px;
  }

  .close-button:hover {
    background-color: white;
    border-radius: 50px;
  }

  .mat-icon-button {
    height: 23px;
    width: 23px;
    line-height: 18px;
    margin-top: -2px;

    mat-icon {
      font-size: 18px;
    }
  }

  &.success {
    background-color: $app-content-alert-primary-background-color;
    color: $app-content-alert-primary-color;

    .close-button:hover {
      color: $app-content-alert-primary-background-color;
    }
  }

  &.warning {
    background-color: $app-content-alert-accent-background-color;
    color: $app-content-alert-accent-color;

    .close-button:hover {
      color: $app-content-alert-accent-background-color;
    }
  }

  &.error {
    background-color: $app-content-alert-warn-background-color;
    color: $app-content-alert-warn-color;

    .close-button:hover {
      color: $app-content-alert-warn-background-color;
    }
  }
}

mat-card {
  display: flex;
  padding: 5px 20px;

  .example-fill-remaining-space {
    flex: 1 1 auto;
  }

  .process-icon {
    width: 30px;
  }

  .process-status {
    line-height: 25px;
    margin: auto 20px;
  }

  .mat-icon-button {
    height: 25px;
    width: 25px;
    line-height: 25px;
    margin-left: 5px;

    mat-icon {
      font-size: 18px;
    }
  }

  &.success {
    background-color: mat-color(mat-palette($mat-green), 200);
    color: mat-color($gaji-id-primary, 'lighter-contrast');
  }

  &.warning {
    background-color: mat-color(mat-palette($mat-orange), 200);
    color: mat-color($gaji-id-accent, 'lighter-contrast');
  }

  &.error {
    background-color: mat-color($gaji-id-warn, 200);
    color: mat-color($gaji-id-warn, 'lighter-contrast');
  }

  &.no-elevation {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    &.not-done {
      border: 1px solid #e8e8e8;
    }
  }
}
