<mat-form-field [floatLabel]="floatLabel" class="app-mat-form-field" [class.mat-form-field-invalid]="errorState">
  <mat-select
    ngModel
    #dropdownObj
    #input="ngModel"
    [name]="name"
    [placeholder]="placeholder"
    [(ngModel)]="selectedItem"
    (ngModelChange)="_onItemChange($event)"
    [required]="required"
    [disabled]="disabled"
    (focusout)="onFocusout()">
    <mat-option *ngIf="withAll" [value]="'all'">(semua)</mat-option>
    <mat-option *ngIf="withEmpty" [value]="'empty'">(kosong)</mat-option>
    <mat-option *ngFor="let item of items; let index = index" [title]="item.label" [value]="item">
      <ng-template
        [ngTemplateOutlet]="optionTemplate ? optionTemplate : defaultOptionTemplate"
        [ngTemplateOutletContext]="{item: item, index: index}">
      </ng-template>
    </mat-option>
  </mat-select>
  <ng-template #defaultOptionTemplate let-item="item" let-index="index">{{ index }} - where's my template dood?</ng-template>
  <mat-icon *ngIf="errorState" matSuffix class="app-input-tooltip-icon app-input-tooltip-error">error_outline</mat-icon>
  <div *ngIf="errorState" [ngStyle]="styleClass"
    class="app-input-tooltip-message app-input-tooltip-message-error" [innerHTML]="errorMessage"></div>
</mat-form-field>
