<mat-form-field [floatLabel]="floatLabel" class="app-mat-form-field" [class.mat-form-field-invalid]="errorState">
  <mat-select
    ngModel
    #dropdown
    #input="ngModel"
    [name]="name"
    [placeholder]="placeholder"
    [(ngModel)]="selectedValue"
    (ngModelChange)="_onValueChange($event)"
    [required]="required"
    [disabled]="disabled"
    (focusout)="onFocusout()">
    <mat-option *ngIf="withAll" [value]="'all'">(semua)</mat-option>
    <mat-option *ngIf="withEmpty" [value]="'empty'">(kosong)</mat-option>
    <mat-option *ngFor="let item of items" [title]="item.label" [value]="item.value">
      <ng-container *ngIf="translate;else notTranslated">
        {{ item.label }}
      </ng-container>
      <ng-template #notTranslated>{{ item.label }}</ng-template>
    </mat-option>
  </mat-select>
  <mat-icon *ngIf="errorState" matSuffix class="app-input-tooltip-icon app-input-tooltip-error">error_outline</mat-icon>
  <div *ngIf="errorState" [ngStyle]="styleClass"
    class="app-input-tooltip-message app-input-tooltip-message-error" [innerHTML]="errorMessage"></div>
</mat-form-field>
