.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.calendar {
  position: relative;

  .day-type {
    position: absolute;
    width: 100%;
    height: 10px;
    background: #81c784
  }
  .day-type.holiday {
    background: #e57373
  }
}