<div class="container app-master-browse-container">
  <mat-card>
    <div>
      <button mat-raised-button routerLink="/work-calendar"><mat-icon>arrow_back</mat-icon></button>
    </div>
    <br/>
    <br/>
    <div class="row">
      <div class="col-md-6">
        <p>
          ID 19023809238091
        </p>
        <p>
          BUDIMAN
        </p>
      </div>
      <div class="col-md-6">
        <ul>
          <li><span style="background:#e57373;width:10px;height:10px;display:inline-block"></span> Hari Libur</li>
          <li><span style="background:#81c784;width:10px;height:10px;display:inline-block"></span> Hari Kerja</li>
        </ul>
      </div>
    </div>
    <br/>
    <br/>
    <div class="row">
      <div class="col-md-3 text-right">
        <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="getDetailTanggal(viewDate)">
          <mat-icon>arrow_back_ios</mat-icon>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <h3 class="mat-title mat-h2">
          {{ viewDate | calendarDate: view + 'ViewTitle':locale }}
        </h3>
      </div>
      <div class="col-md-3 text-left">
        <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="getDetailTanggal(viewDate)">
          <mat-icon>arrow_forward_ios</mat-icon>
        </div>
      </div>
    </div>
    <div class="row">
      <div [ngClass]="{
        'col-md-9': selectedDay,
        'col-md-12': !selectedDay
      }">
        <mwl-calendar-month-view 
          [viewDate]="viewDate" 
          [events]="events" 
          (dayClicked)="selectedDay = $event.day"
          [cellTemplate]="customCellTemplate"
        ></mwl-calendar-month-view>
      </div>
      <div class="col-md-3" *ngIf="selectedDay">
        <mat-card>
          <h3>Jadwal</h3>
          <p>{{ selectedDay.date | date:fullDate }}</p>
          <p>Realisasi</p>
          <table>
            <tr *ngFor="let i of detail" [style.background]="i.warnaBgJenisAbsensi" [style.color]="i.warnaTeksJenisAbsensi">
              <td>{{ i.jenisAbsensi }}</td>
              <td>{{ i.jamAwal }} - {{ i.jamAkhir }}</td>
              <td>{{ i.jumlahMenit }}</td>
            </tr>
          </table>
        </mat-card>
      </div>
    </div>

    <ng-template #customCellTemplate let-day="day" let-locale="locale">
      <div class="cal-cell-top calendar">
        <span [ngClass]="{
          'day-type': true,
          'holiday': day.events[0]?.meta.flagLibur
        }"></span>
        <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
      </div>
      <small style="margin: 5px">
        <ul>
          <li *ngFor="let event of day.events">{{event.title }}</li>
        </ul>
      </small>
    </ng-template>
  </mat-card>
</div>