@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://www.google.com/design/spec/style/color.html
$gaji-id-primary: mat-palette($mat-green, 700);
$gaji-id-accent:  mat-palette($mat-amber, 900, 100, 900);

// The warn palette is optional (defaults to red).
$gaji-id-warn:    mat-palette($mat-red);

$gaji-id-cream : #fffae6;

// Create the theme object (a Sass map containing all of the palettes).
$gaji-id-theme: mat-light-theme($gaji-id-primary, $gaji-id-accent, $gaji-id-warn);

// Include theme styles for core and each component used in your app.
@include angular-material-theme($gaji-id-theme);

// // Alternatively, you can import and @include the theme mixins for each component
// // that you are using.
// @mixin mix-gaji-id-theme($gaji-id-theme) {
//   $accent: map-get($gaji-id-theme, accent);

//   .mat-button-toggle-checked {
//     background-color: mat-color($accent, A200);
//     color: mat-color($accent, 'A200-contrast');
//   }
// }

// // Include the mixin
// @include mix-gaji-id-theme($gaji-id-theme);
