<h1 mat-dialog-title>{{ title | translate }}</h1>
<mat-dialog-content>
  <div class="app-confirm-dialog-message" [innerHTML]="message"></div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="mat-raised-button" mat-button mat-dialog-close (click)="closeDialog()">{{ 'Tidak' | translate }}</button>
  <button [class]="confirmButtonClass" mat-button [mat-dialog-close]="true" (click)="confirm()">{{ confirmButtonLabel | translate }}</button>
</mat-dialog-actions>
